@model AspNetSearch.ViewModels.SearchIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model.Details)
{
    <div>
        @Html.ActionLink(item.TableDisplayName, "Search", "Search", new { tableId = item.TableId }, new { @class = "btn btn-info mt-2" })
    </div>
}

